/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
nav {
    background-color: #6994bd;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: rgb(175, 159, 159);
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #615730;
}

/* Page Content */
.container {
    padding: 40px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 18px;
    color: #270e0e;
}
